* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(18, 18, 18, 0.9);
}

.information {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 60px;
    margin-left: 150px;
    height: 120px;
    width: 80%;
    background-color: rgba(18, 18, 18, 0.9);
    border: 2px solid rgb(255, 251, 0);
}

.information h1 {
    padding-left: 380px;
    padding-top: 20px;
    color: rgb(252, 252, 0);
    font-weight: bolder;
    font-size: 40px;
    font-family: sans-serif;
}

.information p {
    color: rgb(252, 0, 0);
    padding-top: 15px;
    padding-left: 350px;
    font-size: 20px;
    font-family: sans-serif;
}

span {
    color: rgb(255, 0, 0);
}

#hero-section {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 2px solid black;
    height: 80%;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgb(255, 255, 0);
}

#hero-section h1 {
    height: 30px;
    width: 400px;
    margin-left: 45px;
    margin-top: -10px;
    color: rgb(225, 0, 0);
    font-size: 28px;
}

#input1,
#input2 {
    display: block;
    height: 40px;
    width: 450px;
    position: relative;
    top: 40px;
    right: 200px;
    margin-bottom: 18px;
    border-radius: 6px;
    padding-left: 10px;
    font-family: sans-serif;
    border: 2px solid #ff0000;
    border-radius: 6px;
}

select,
textarea,
button {
    position: relative;
    top: 40px;
    right: 200px;
    display: block;
    height: 40px;
    width: 450px;
    margin-bottom: 18px;
    border-radius: 6px;
    padding-left: 10px;
    font-family: sans-serif;
    border: 2px solid #ff0000;
    border-radius: 6px;
}

select {
    width: 464px;
}

textarea {
    padding-top: 6px;
}

button {
    width: 240px;
    height: 55px;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: sans-serif;
}

.find-us h2,
p {
    display: block;
    padding: 5px;
    font-family: sans-serif;
}

.find-us h2 {
    font-size: 25px;
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.find-us p {
    font-size: 18px;
    color: orange;
}

/* Foot-panel */

footer {
    margin-top: 100px;
}

.foot-panel1 {
    background-color: #121212;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-panel1 a {
    color: rgb(255, 251, 0);
    font-size: 1.5rem;
    text-decoration: none;
}

.foot-panel2 {
    background-color: #121212;
    height: 330px;
    color: rgb(255, 251, 0);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

ul {
    margin-top: 70px;
}

ul a {
    display: block;
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 5px;
    text-decoration: none;

}

.foot-panel3 {
    background-color: #121212;
    height: 120px;
    border-top: 2px solid;
    display: flex;
    justify-content: center;
}

.foot-logo {
    background-image: url("https://assets.indolj.io/upload/1751470831-1658409985-Logo-california-(1).png?q=10");
    background-size: cover;
    height: 90px;
    width: 160px;
    margin-top: 5px;
}

.foot-panel4 {
    border-top: 1px solid black;
    height: 60px;
    background-color: #121212;
    color: red;
    font-size: 1rem;
    text-align: center;

}

.foot-pages {
    padding-top: 10px;
}

.copyright {
    padding-top: 10px;
}


@media (max-width: 1100px) {

    .information,
    #hero-section {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 90% !important;
        height: auto !important;
    }

    .information h1,
    .information p {
        padding-left: 0 !important;
        text-align: center;
    }

    #hero-section {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero-section h1 {
        margin-left: 0 !important;
        text-align: center;
        width: 100% !important;
    }

    #input1,
    #input2,
    select,
    textarea,
    button,
    .find-us {
        position: static !important;
        width: 100% !important;
        max-width: 450px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    select {
        width: 100% !important;
        max-width: 464px;
    }
}

@media (max-width: 600px) {
    .foot-panel2 {
        flex-direction: column;
        height: auto !important;
        text-align: center;
        padding-bottom: 20px;
    }

    ul {
        margin-top: 20px !important;
    }
}