/* CSS: Page ko khoobsurat banane ke liye */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    /* 50% transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.menu-container {
    background: rgba(18, 18, 18, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 95%;
}

.menu-container h2 {
    color: rgb(242, 255, 0);
    margin-bottom: 20px;
    font-size: 28px;
}

/* Image ki setting */
#menu-image {
    max-width: 100%;
    height: 600px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

/* Download Button ki styling */
.download-btn {
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.download-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}